#about-section{
    padding-top: 50px;
}

#about-section .container{
    display: flex;
    justify-content: space-around;
}
#about-section img{
    width: 100%;
    max-width: 500px;
    height: auto;
    z-index: 10000;
}
.right-about{
    max-width: 600px;
}
.description-about p{
    color: var(--color-text-grey);
    font-weight: 300;
}
.bottom-about{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.points-about{
    display: flex;
    justify-content: space-around;
}
.point-about h3{
    font-size: 35px;
}
.point-about h3 span{
    color: var(--color-purple)
}
.skills{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.skill{
    background-color: var(--color-purple);
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    position: relative;
}
.skill:hover {
    transform: scale(1.05);
    background-color: var(--color-purple-darker);
    cursor: pointer;
}
.skill i{
    font-size: 30px;
    color: white
}
.skill-adon{
    position: absolute;
    top: -55px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 8px;
    font-weight: bold;
    color: var(--color-purple);
    border-radius: 10px;
    transform: translateY(10px);
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0;
}
.skill:hover .skill-adon{
    transform: translateY(0px);
    opacity: 1;
}


@media (max-width: 1300px){
    #about-section .container{
        flex-direction: column-reverse;
        align-items: center;
        gap: 50px;
    }
    .additional-heading{
        text-align: center;
    }
    .skills{
        justify-content: center;
    }
}
@media (max-width: 550px){
    .point-about{
        text-align: center;
    }
    .point-about h3{
        font-size: 30px;
    }
    .point-about p{
        font-size: 15px;
    }
    .points-about{
        flex-wrap: wrap;
        gap: 20px;
    }
}