#banner-section{
    height: 80vh;
}
#banner-section .container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.banner-bottom-text{
    color: var(--color-grey);
    max-width: 500px;
    display: flex;
    flex-direction: column;
}
.banner-links-container{
    display: flex;
    gap: 30px;
}
.banner-bottom-text a:nth-child(2){
    border-color: #fff;
    color: #fff;
}
.banner-bottom-text a:nth-child(2):hover{
    color: var(--color-purple);
    border-color: var(--color-purple);
}
.banner-bottom-text a{
    text-decoration: none;
    color: var(--color-purple);
    border: 1px solid var(--color-purple);
    padding: 10px 20px;
    margin-top: 20px;
    width: fit-content;
    text-transform: uppercase;
    font-weight: 500;
    transition: border-color 0.3s ease, color 0.3s ease;
}
.banner-bottom-text a:hover{
    border-color: #fff;
    color: #fff;
}
#banner-section h1{
    color: #fff;
    font-size: 60px;
}
#banner-section span{
    color: var(--color-purple);
}
@media (max-width: 1000px){
    #banner-section h1{
        font-size: 45px;
    }
    #banner-section p{
        font-size: 15px;
    }
}
@media (max-width: 550px){
    #banner-section h1{
        font-size: 45px;
    }
}
@media (max-width: 450px){
    #banner-section h1{
        font-size: 35px;
    }
}