*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #010201;
    color: #fff;
}
/* ------------------scrolbar----------------------- */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: #FFF;
}

::-webkit-scrollbar-thumb {
    background-color: #AC013D;
    border-radius: 15px;
    border: 3px solid #FFF; /* Dodajemy biały obramowanie */
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(172, 1, 61, 0.8); /* Dodajemy transparentność na hover */
}
/* ------------------other----------------------- */
.container{
    padding: 10px 10%;
}