header {
    background-color: #000;
}

#privacypolicy-section .container {
    margin-top: 50px;
}

.points {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#privacypolicy-section h2 {
    margin-bottom: 20px;
}

#privacypolicy-section ul {
    list-style-type: disc !important;
    padding-left: 20px;
}

#privacypolicy-section strong,
#privacypolicy-section a,
#privacypolicy-section i {
    color: var(--color-purple);
}

#privacypolicy-section a {
    font-weight: bold;
    transition: color 0.3s;
}

#privacypolicy-section a:hover {
    color: var(--color-purple-darker);
}

#privacypolicy-section ul {
    padding-left: 30px;
}

#privacypolicy-section .info {
    margin-bottom: 20px;
}